.CasesByCountry__table {
  margin-top: 20px;
  overflow: scroll;
  height: 50vh;
  color: #6a5d5d;
  background-color: #fff;
}

.CasesByCountry__table tr {
  display: flex;
  justify-content: space-between;
}

.CasesByCountry__table td {
  padding: 0.5rem;
}

.CasesByCountry__table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.CasesByCountry__table table {
  width: 100%;
}
.CasesByCountry__table table tr {
  font-size: 1vw;
}

@media (max-width: 990px) {
  .CasesByCountry__table table tr {
    font-size: 3.5vw;
  }
  .CasesByCountry__table {
    height: 40vh;
  }
}
